/* https://v3.tailwindcss.com/docs/guides/vite */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animated-bg {
    background: linear-gradient(-45deg, #4e002f, #390040, #250044, #001244);
    background-size: 300% 300%;
    animation: gradient-animation 5s ease infinite;
  }
  
  